.mini-header, .mini-header.theme-light, .mini-header.theme-dark {
	.logo-new {
	  	transition: 0.2s ease-in-out;
	  	width: 120px;
	   	height: auto;
	   	opacity: 1;
	   	fill: $color-blurt-red;
	   	@include MQ(M) {
	  		width: 144px;
	   		height: auto;
	   	}
	}
	.icon-svg {
	    fill: $color-blurt-red;
	}
	.logo-new:hover .icon-svg {
   		fill: $color-blurt-black;
	}
}
