

.PowerdownModal {

  .powerdown-amount {
    margin: 18px;
    input {
      margin-top: 10px;
      margin-right: 10px;
      width: 30%;
    }
  }

  li + li {
    margin-top: 10px;
  }

  .button {
    margin: 14px;
  }

  .powerdown-notes {
    font-size: 80%;
    list-style: none;
  }

  .rangeslider {
    position: relative;
    background: #e6e6e6;
    .rangeslider__fill, .rangeslider__handle {
      position: absolute;
    }
    &, .rangeslider__fill {
      display: block;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    .rangeslider__handle {
      background: #fff;
      border: 1px solid #ccc;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      &:active {
        background: $color-blurt-red;
      }
    }
  }
  .rangeslider-horizontal {
    height: 10px;
    background: none;
    margin: 18px;
    .rangeslider__fill {
      height: 100%;
      background: $color-blurt-red;
      box-shadow: none;
      left: 0;
    }
    .rangeslider__handle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: -10px;
      &:active {
        box-shadow: none;
      }
    }
  }

}
