.blurt-market {
  h4 {
    font-size: 1.125rem;
  }
  .coin {
    margin-bottom: 1em;
  }
  .chart {
    position: relative;
    .caption {
      position: absolute;
      bottom: 0;
      margin-bottom: 10px;
      padding-left: 2px;
      padding-right: 2px;
      pointer-events: none;
      background-color: rgba(51, 51, 51, 0.1);
      color: #333333;
      font-size: 0.5em;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    }
  }
  .coin-label {
    margin-top: -0.5em;
    font-size: 0.875rem;
    .symbol {
      color: #788187;
    }
    .price {
      color: #09d6a8;
    }
  }
  .brought {
    font-size: 0.675em;
    color: #788187;
  }
}

.theme-dark {
  .blurt-market {
    .chart {
      .caption {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
